[entity-matching]
system_prompt = """You are a helpful assistant that matches user interests and profile to entities."""
user_prompt = """Given the following user profile, an optional question and the user''s chosen topics of interest which you can find between the <user_profile>, <question> and <topics_of_interest> tags, please match them to the most likely entity from the list of entities which can be found between the <entities> tags. Make sure that you rank them also according to the user interests. On top you should have the most relevant entities according to the user interests.

Also divide the entities into two groups:
- high-level keywords: Identify high-level key words that summarize the main concepts, themes, or topics of the entire text. These should capture the overarching ideas present in the document.
- low-level keywords: Identify low-level key words that summarize more specific topics or subconcepts that are related to the high-level keywords.

For example: high-level concept "AI" has the following low-level keywords: "machine learning", "deep learning", "natural language processing", "computer vision", "robotics", "automation", "data science", "analytics", "cloud computing", "blockchain", "cybersecurity", "internet of things", "augmented reality", "virtual reality", "mixed reality"

If the question is provided, use it to find extra entities that are related to the question.

Make sure to omit any duplicates of the enitities in the list. If the entity "AI" is in the list, you should not include the entity "Artificial Intelligence" further down in the list.

<question>
{question}
</question>

<user_profile>
{user_profile}
</user_profile>

<entities>
{entities}
</entities>

<topics_of_interest>
{topics_of_interest}
</topics_of_interest>
"""

[document-retrieval]
system_prompt_additional = """
Also summarize each document that you retrieve based on the user's interests and the question they are asking. Make sure that the summary is at most 60 words or three paragraphs at most.
Also describe why a specific document is relevant to the user's interests and the question they are asking. Make sure that the relevance explanation is at most 60 words or three paragraphs at most.

Make sure that the documents sorting order is based on the relevance of the document to the user's interests and the question they are asking. The most relevant document should be at the top of the list.
Assume that the profile of the user is the profile of the person who is asking the question. Therefore address the user as "you" in the relevance explanation.

Make sure that you use British English in your response.

Please omit the references to the documents in your text response.
"""
question-template = """{question}. Below is my user profile that shows my interests, so base your answer on my profile.

  <user_profile>
  {user_profile}
  </user_profile>
  
  <high_level_keywords>
  {high_level_keywords}
  </high_level_keywords>

  <low_level_keywords>
  {low_level_keywords}
  </low_level_keywords>

"""

[document-summarization]
system_prompt = """You are a helpful assistant that summarizes documents and uses British English."""
human_prompt_question = """---Role---
You are a helpful assistant tasked with summarising a document based on the user's interests and the question they are asking.
--- Goal ---
The content of the document can be found between the <document> and </document> tags.
The user's interests and the question they are asking can be found between the <user_profile> and </user_profile> tags.
The question asked by the user which retrieved the document can be found between the <question> and </question> tags.
The summary should be at most 60 words or three paragraphs at most.

<document>
{document}
</document>

<user_profile>
{user_profile}
</user_profile>

<question>
{question}
</question>

---Instructions---

- The output should be a summary of the document in British English and also a section (paragraph) on how the document relates to the user's interests and the question they are asking, if it is relevant.
- Use this format:

# Summary
(paragraph text)

# Relevance
(paragraph text)

"""
human_prompt_no_question = """---Role---
You are a helpful assistant tasked with summarising a document based on the user's interests and the question they are asking.
--- Goal ---
The content of the document can be found between the <document> and </document> tags.
The user's interests can be found between the <user_profile> and </user_profile> tags.

<document>
{document}
</document>

<user_profile>
{user_profile}
</user_profile>

---Instructions---

- The output should be a summary of the document in British English and also a section (paragraph) on how the document relates to the user's interests and the question they are asking, if it is relevant.
- The summary and the relevance paragraph should be at most 60 words or three sentences at most. When talking about the relevance of the document for the user, refer to the user as "you", assuming that the user is reading the summary.
- Use this format:

# Summary
(paragraph text)

# Relevance
(paragraph text)
"""

[question-generation]
system_prompt = """You are a Socratic tutor."""
user_prompt = """
I will give you topics and their descriptions. Your job is to generate thought-provoking questions that encourage deeper thinking and self-discovery. Avoid direct factual recall unless it sets up a deeper follow-up question. Focus on "why", "how", and "what if" questions.

Please generate at most 10 questions for each topic.

Here are the topics, their descriptions and their categories:

<topics>
{topics}
</topics>
"""

[topics-post-processing]
system_prompt = """You are a helpful assistant that post processes topics."""
user_prompt = """
Please post process the following topics using the following instructions:

<topics_prompt>
{topics_prompt}
</topics_prompt>

<topics>
{topics}
</topics>
"""

[topics-deduplication]
system_prompt = """You are a helpful assistant that post processes topics and deduplicates them."""
user_prompt = """
Please post process the following topics and deduplicate by their meaning. If a topic is a specialization of another topic, it is ok to keep the more specialized topic.

Example 1: if you have a topic "AI" and a topic "Artificial Intelligence", you should deduplicate them and keep the topic "AI" if the description of the topic "AI" is more thorough.

Example 2: If you have a topic like "Zühlke" and a topic like "Zuhlke" where the only difference is the umlaut, you should deduplicate them and keep the topic "Zühlke" if the description of the topic "Zühlke" is more thorough.

<topics>
{topics}
</topics>
"""