@import 'tailwindcss';
@plugin "daisyui";

/* Make sure the graph container fills the screen */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.buttons {
    @apply h-32 px-4 py-3 lg:h-18;
}

.row {
    @apply flex flex-wrap;
}

#network-container {
    overflow: hidden;
    width: calc(100vw - 2px);
    height: calc(100vh - 40px);
}

#token {
    width: 100%;
    max-width: 400px;
}

.project,
.search-block {
    @apply flex w-full my-2 lg:w-1/2 items-center;
}

.project label,
.search-block label {
    @apply w-3/12 md:w-1/6;
}

.project select,
.search-block input {
    @apply w-9/12 md:w-5/6;
}

.search-block input {
    @apply lg:!max-w-[100%];
}

select {
    @apply select w-full max-w-xs;
}

input[type='text'],
input[type='search'] {
    @apply input w-full max-w-xs;
}

.legend {
    @apply absolute top-32 ml-4;
    border: 1px solid gray;
    max-width: 200px;
    width: 100%;
    padding: 2px 4px;
    z-index: 1000;
    background: white;
}

.legend, .node-details {
    color: black;
}

.colour-node {
    width: 20px;
    height: 20px;
    margin: 4px 5px;
}

.main-colour {
    background-color: #ff6666;
}

.intermediate-colour {
    background-color: #0084d7;
}

.leaf-colour {
    background-color: gray;
}

.entity-colour {
    background-color: #11aadd;
}

.legend-text {
    margin: 5px 0 0 1px;
}

.node-details-container {
    position: absolute;
    bottom: 0;
    height: 200px;
    width: 100%;
    justify-content: center;
}

.node-details {
    @apply w-[100%] px-3 py-2 bg-white lg:w-[80%];
    border: 1px solid gray;
}
